body{background-image: url(/assets/images/background.jpg);}
header {background-color: black;}
header h1 {color: white; padding: 0.2em 0.7em;}
span{color: #DD00E7;}
a:hover{
	text-decoration: none;
	color : black;
}

section#main {position: relative;
    padding: 5em 2em;}

#showPerso{
	font-family: Inconsolata;
}

#showPerso dt{
	color: #C17F31;
	text-align: left;
}

.lootName {
	color:blue;
	font-weight: bold;}

.spellName {
	color:purple;
	font-weight: bold;}

