@(perso : Perso)

@import _root_.theorycraft._
@import _root_.models.utils.LootUtil

<dl id="showPerso" class="dl-horizontal">
	<dt>Str</dt><dd>@perso.eStr()</dd>
	<dt>Dex</dt><dd>@perso.eDex()</dd>
	<dt>Intel</dt><dd>@perso.eIntel()</dd>
	<dt>Vita</dt><dd>@perso.eVita()</dd>
	<dt>Hp</dt><dd>@Formula.hp(perso.lvl, perso.eVita(), LootUtil.lifeBonus(perso.loots))</dd>
	<dt>Dodge</dt><dd>@Formula.dodge(perso.eDex()).movePointRight(2)%</dd>
	<dt>Armor</dt><dd>@perso.armor() (@Formula.dmgReducArmor(perso.lvl,perso.armor()).movePointRight(2)%)</dd>
	<dt>Resist phys</dt><dd>@Formula.resist(perso.eIntel(),LootUtil.resistBonusPhys(perso.loots)) (@Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusPhys(perso.loots))).movePointRight(2)%)</dd>
	<dt>Resist arcane</dt><dd>@Formula.resist(perso.eIntel(),LootUtil.resistBonusArcane(perso.loots)) (@Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusArcane(perso.loots))).movePointRight(2)%)</dd>
	<dt>Resist cold</dt><dd>@Formula.resist(perso.eIntel(),LootUtil.resistBonusCold(perso.loots)) (@Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusCold(perso.loots))).movePointRight(2)%)</dd>
	<dt>Resist fire</dt><dd>@Formula.resist(perso.eIntel(),LootUtil.resistBonusFire(perso.loots)) (@Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusFire(perso.loots))).movePointRight(2)%)</dd>
	<dt>Resist lightning</dt><dd>@Formula.resist(perso.eIntel(),LootUtil.resistBonusLightning(perso.loots)) (@Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusLightning(perso.loots))).movePointRight(2)%)</dd>
	<dt>Resist poison</dt><dd>@Formula.resist(perso.eIntel(),LootUtil.resistBonusPoison(perso.loots)) (@Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusPoison(perso.loots))).movePointRight(2)%)</dd>
	<dt>eHp (phys)</dt>
		<dd>@Formula.eHp(Formula.hp(perso.lvl, perso.eVita(), LootUtil.lifeBonus(perso.loots)),
						 Formula.dmgReducArmor(perso.lvl,perso.armor()),
						 Formula.dmgReducResit(perso.lvl,Formula.resist(perso.eIntel(),LootUtil.resistBonusPhys(perso.loots))),
						 perso.resistBonus)</dd>
	<dt>Bonus dmg</dt><dd>@perso.bonusDmg().movePointRight(2) %</dd>
	<dt>Chance Crit</dt><dd>@perso.critBase().movePointRight(2)%</dd>
	<dt>Dmg crit</dt><dd>+ @perso.dmgCritBase().movePointRight(2)%</dd>
	<dt>Attaque speed</dt><dd>@LootUtil.attSpd(perso.loots)</dd>
	<dt>Dps</dt>
		<dd>@Formula.dps(LootUtil.dmgMin(perso.loots),
	                                            LootUtil.dmgMax(perso.loots),
	                                            LootUtil.attSpd(perso.loots),
	                                            perso.bonusDmg(),
	                                            0,
	                                            perso.critBase(),
	                                            perso.dmgCritBase())</dd>
</dl>