@(perso: Perso, loots : List[Loot], spells : Set[Spell]) 

@import tags._
@import helper._
@import helper.twitterBootstrap._

@mainTemplate("GerardMajax"){


	<div class="row-fluid show-grid">
		<div class="span12">
			<h2>@perso.nom <span>@perso.classe</span> lvl @perso.lvl
			<a href="@routes.Application.init" class="btn btn-primary btn-mini">New</a>
			<a href="@routes.Application.fork(perso.id)" class="btn btn-warning btn-mini" >Fork</a>
			<a href="@routes.Application.delete(perso.id)" class="btn btn-danger btn-mini" >Delete</a>
		</h2></div>
	</div>
	</br>
	
	<div class="row-fluid show-grid">
		@* Affichage des caracs *@
		<div class="span4">
			<h4>Caracs</h4>
			@showPerso(perso)
		</div>
	
		@* Affichage des loots *@
		<div class="span4">
			<h4>Equipement</h4>
			@if(loots != null){ @for(loot <- loots) { @showLoot(loot) } }
		</div>
	
		@* Affichage des sorts *@
		<div class="span4">
			<h4>Sorts</h4>
			@if(spells != null){ @for(spell <- spells) { @showSpell(spell,perso) }}
		</div>
	</div>
}
