@(persoForm: Form[Perso])

@import helper._
@import tags._


@lootform(loot: Field, className: String = "loot") = {
	@inputText(loot("description"),'_label -> "Description")
    @inputText(loot("dmgMin"),'_label -> "Dmg min")
    @inputText(loot("dmgMax"),'_label -> "Dmg max")          
    @inputText(loot("str"),'_label -> "Str")            
    @inputText(loot("dex"),'_label -> "Dex")            
    @inputText(loot("intel"),'_label -> "Intel")            
    @inputText(loot("vita"),'_label -> "Vita")    
    @inputText(loot("bonusLife"),'_label -> "+%Vie ")
    @inputText(loot("armor"),'_label -> "Armor")
    @inputText(loot("attSpd"),'_label -> "AttSpd")
    @inputText(loot("resistAll"),'_label -> "Resist All") 
    @inputText(loot("resistPhys"),'_label -> "Phys resist")
    @inputText(loot("resistArcane"),'_label -> "Arcane resist")
    @inputText(loot("resistCold"),'_label -> "Cold resist")
    @inputText(loot("resistFire"),'_label -> "Fire resist")
    @inputText(loot("resistLightning"),'_label -> "Ligthning resist")
    @inputText(loot("resistPoison"),'_label -> "Poison resist")
}

@mainTemplate("GerardMajax") {

<div class="row-fluid show-grid">
	@helper.form(action = routes.Application.submitForm, 'class -> "form-horizontal") {
	   <div class="span6">
	   <fieldset>
        	<legend>Perso</legend>  
        	@inputText(persoForm("nom"),'_label -> "Nom")    
            @inputText(persoForm("lvl"),'_label -> "Lvl")
            @select(persoForm("classe"), 
                	options = options(Perso.classes),
                	'_default -> "--- Classe ---",
                	'_label -> "Classe")
        </fieldset>
        <input type="submit" class="btn primary" value="Shazaam !">
       </div>
        
       <div class="span6">
        	<fieldset>
        	<legend>Loot</legend>
        	@repeat(persoForm("loots")) { loot => 
        		@lootform(loot)
            }
		 	</fieldset>
     	 </div>
     	 
 
 
    }
</div>
}