@(persoForm: Form[Perso])

@import helper._
@import helper.twitterBootstrap._


@lootform(loot: Field, className: String = "loot") = {
	@inputText(loot("description"),'_label -> "description")
    @inputText(loot("dmgMin"),'_label -> "dmg min")
    @inputText(loot("dmgMax"),'_label -> "dmg max")          
    @inputText(loot("str"),'_label -> "str")            
    @inputText(loot("dex"),'_label -> "dex")            
    @inputText(loot("intel"),'_label -> "intel")            
    @inputText(loot("vita"),'_label -> "vita")    
    @inputText(loot("bonusLife"),'_label -> "bonusLife")
    @inputText(loot("armor"),'_label -> "armor")
    @inputText(loot("attSpd"),'_label -> "attSpd")
    @inputText(loot("attSpdBonus"),'_label -> "attSpdBonus")
}



@mainTemplate("GerardMajax") {


	@helper.form(action = routes.Application.submitForm) {
	   <div class="span6">
	   <fieldset>
        	<legend>Perso</legend>  
        	@inputText(persoForm("nom"),'_label -> "Nom")    
            @inputText(persoForm("lvl"),'_label -> "lvl")
            @select(persoForm("classe"), 
                	options = options(Perso.classes),
                	'_default -> "--- Classe ---",
                	'_label -> "Classe")
        </fieldset>
        <input type="submit" class="btn primary" value="Shazaam !">
       </div>
        
       <div class="span6">
        	<fieldset>
        	<legend>Loot</legend>
        	@repeat(persoForm("loots")) { loot => 
        		@lootform(loot)
            }
		 	</fieldset>
     	 </div>
     	 
 
 
    }
}