@(testForm: Form[TestFormula])

@import helper._
@import helper.twitterBootstrap._

@mainTemplate("GerardMajax") {

	@helper.form(action = routes.Formulaire.submitForm, 'id -> "form") {

	   <fieldset>
        	<legend>Perso</legend>      
            @inputText(testForm("lvl"),'_label -> "lvl")
        </fieldset>
            
        <fieldset>
        	<legend>Loot</legend>          
            @inputText(testForm("str"),'_label -> "str")            
            @inputText(testForm("dex"),'_label -> "dex")            
            @inputText(testForm("intel"),'_label -> "intel")            
            @inputText(testForm("vita"),'_label -> "vita")            
        </fieldset>
       
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Insert">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
       }
}