@(title: String)(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<title>@title Simulator</title>
		<link rel="stylesheet" href="/assets/stylesheets/main.css" />
		<link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap-responsive.css" />
	</head>
	<body>
	
		<header class="navbar-fixed-top">
	    	<a href="@routes.Application.index" ><h1 class="fill">@title<span>Simulator</span></h1></a>
		</header>
		
		<section id="main">
			@content
		</section>
	
	<script src="http://eu.battle.net/d3/static/js/tooltips.js"></script>
	<script src="/assets/javascripts/bootstrap.js"></script>
	</body>
</html>

